# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=stream_archive
DB_USERNAME=stream_archive_app
DB_PASSWORD=password

# Server Configuration
SERVER_PORT=8080

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Twitch Platform Configuration
TWITCH_APP_CLIENT_ID=your_client_id
TWITCH_APP_CLIENT_SECRET=your_client_secret
TWITCH_PERSONAL_OAUTH_TOKEN=your_personal_token